---
import MainLayout from "../../layouts/MainLayout.astro";
import GridArticle from "../../components/GridArticle.astro";

const posts = await Astro.glob("./*.md");
---

<MainLayout title={"mis blogs"}>
  <h1 class="text-3xl font-bold my-6 text-center">Blog</h1>
  <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
    {
      posts.map((post) => {
        console.log(post.frontmatter)
        return (
         <GridArticle posts={post.frontmatter} url={post.url}></GridArticle>
        );
      })
    }
  </section>
 
</MainLayout>

<style>
  body {
    background-color: rgb(105, 190, 102);
  }
</style>
