---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="pagina sobre mi">
  <h1>About</h1>
</MainLayout>



<style>
    body {
        background-color: hotpink;
    }
</style>