---
// javascript
import MainLayout from "../layouts/MainLayout.astro";
---

<!--HTML -->
<MainLayout title="Pagina principal">  <!-- todo lo que ponga dentro de esta etiqueta se ma a colocar dentro de slot. --> 
  <h1>Astro</h1>
</MainLayout>

<!--CSS -->

<style>
    body {
        background-color: yellow;
    }
</style>
