---
import Footer from "../pages/components/footer.astro";
import Header from "../pages/components/Header.astro";

const {title} = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<!-- con is:global hacermos que estos estilos funcionen en toda la web -->
<style is:global> 

*  {
    box-sizing: border-box;
}
  body {
    margin: 0; 
    background-color: hotpink;
  }

 img {
    display: block; 
    max-width: 100%;
 }
</style>
